
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= image_tag 'fonix-logo.svg', class: 'mb-4', width: '300', height: '135' %>

    <div class="form-floating mb-2">
      <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'name@example.com', autocomplete: 'off' %>
      <%= f.label :email, class: 'text-dark' %>
    </div>

    <div class="form-floating">
      <%= f.email_field :password, type: 'password', class: 'form-control', autocomplete: 'current-password' %>
      <%= f.label :password, class: 'text-dark' %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="checkbox mb-3 mt-2">
        <%= f.label :remember_me %>
        <%= f.check_box :remember_me %>
      </div>
    <% end %>

    <%= f.submit 'Sign in', class: 'w-100 btn btn-lg btn-primary mb-3' %>

    <%= render "devise/shared/links" %>
  <% end %>
</main>
